activator-launch-*
logs
project/project/*
!project/project/plugins.scala
project/target
project/.boot
project/.sbtboot
project/.ivy
project/activator*
target
test-reports
tmp
.history
dist
*.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/.cache
/*.jar
/conf/local.conf
/lib
/bundle/node_modules
/jvm/public/shapes/vertices
/js-util/src/main/resources/*
*~
*.swp
*.swo
core
.bundle
