<nav class="header-bar navbar navbar-default nav-main sticky">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-main-style">

            <ul class="nav navbar-nav">
                <li class="logo-small"><a href="/">noSketch</a></li>
                <li>
                    <a href="/produkte" class="dropdown-trigger" data-toggle="collapse" data-target="#MenuMegaCollapse-798">
                Topics<br>
                        <small>
                  Show Topics here
                        </small>
                        <b class="caret hidden-xs"></b>
              </a>
                </li>
                <li>
                    <a href="/popular">
                Popular Topics<br>
                        <small>
                  browse here...
                        </small>
              </a>
                </li>
                <li class="active">
                    <a href="/randomize">
                Randomize<br>
                        <small>
                  randomized the map
                        </small>
              </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search" action="/search">
                <div class="form-group">
                    <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                        <input type="text" class="form-control typeahead tt-hint" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                        <input id="search_input" type="text" name="query" class="form-control typeahead tt-input" placeholder="search..." style="position: relative; vertical-align: top; background-color: transparent;">
                    </span>
                </div>
                <button type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
            </form>
            <div class="link-buttons">
                <div class="pull-right">
                    <a id="login-btn-sticky" href="/myaccount" data-remote="/myaccount" data-target="#login-dialog" class="btn btn-link pull-right">
                        <i class="fa fa-puzzle-piece"></i>
                        My Account
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>