#debugHUD {

  position: absolute;
  top: 100px;
  left: 10px;
  background-color: darkslategrey;
  font-size: medium;
  color: white;
  opacity: 0.98;

  .stats {
    width: 320px;
  }

  .indicator {
    .container {
      margin-left: 15px;
      border-bottom: 1px solid orange;
    }


    .key {
      float: left;
      float: left;
      width: 220px;
      font-family: "Courier New", monospace;
    }
    .value {
      width: 100px;
      float: left;
      font-weight: bolder;
      font-family: "Courier New", monospace;
      text-align: right;
    }

    div.row {

    }
  }
  .indicator:last-child {
    .container {
      border-bottom: 0px;
    }

  }
}