@import "lib/bootstrap/less/bootstrap.less";

h1 {
  color: white;
}

body {
  background-color:#336699;
}

#mainArea {

}

#canvasContainer {
  padding: 20px;

  #drawing {
    margin-left: auto;
    margin-right: auto;
    background-color: #4477aa;
    width: 500px;
    height: 500px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 10%;
    display: block;
  }
}

a {
  color: springgreen;
  text-decoration: underline;
}

a:hover {
  color: sandybrown;
}