@(title: String)

@script = {
    <script type="text/javascript">
        $(function() {
            // Get a re ference to the canvas object
            var canvas = document.getElementById('drawer');
            // Call the scalajs app entry point
            nosketch.Drawer().startDrawer(canvas);
        });
    </script>
}

@main(title, script) {

    <div class="box">
        <div class="row">
            <div class="col-md-1">
                @controls()
            </div>
            <div id="mainArea" class="col-md-11">
                <div id="canvasContainer" >
                    <canvas id="drawer"></canvas>
                </div>
            </div>

        </div>
    </div>


}
