@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery-1.11.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("/javascripts/paper.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("/javascripts/nosketch.js")"></script>
        <script type="text/paperscript" src="@routes.Assets.at("/javascripts/draw.js")" canvas="drawing"></script>
        <style type="text/css" src="@routes.Assets.at("javascripts/main.css")"></style>
    </head>
    <body>
        @content
    </body>
</html>
